    <div id="fLogin" class="modal fade in" style="display: none;">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Member Log In</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <form action="/login" method="post">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" name="email" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-block btn-lg" value="Log In">
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <a data-target="#fsignUp" data-toggle="modal">or Sign Up</a>
                </div>
            </div>
        </div>
    </div>
    <div id="fsignUp" class="modal fade" style="display: none;">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Member Registration</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <form action="/signup" method="post">
                        <div class="form-group">
                            <label>Email Address</label>
                            <input type="email" name="email" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" name="username" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" required="required">
                        </div>
                        <div class="form-group"><input type="submit" value="Sign up"
                                class="btn btn-primary btn-block btn-lg"></div>
                        <div class="clearfix"></div>
                    </form>

                </div>
            </div>
        </div>
    </div>
<nav class="navbar navbar-expand-lg navbar-light lighten-4 ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="logo">
                <a class="navbar-brand" href="/">
                    <h2>TripPlanner</h2>
                </a>
            </div>
            <div class="searcher">
                <form id="search_form" class="searchform" role="search" method="get" action="/search">
                    <i class="fa fa-search"></i>
                    <input type="text" class="searcher typeahead" id="searcher" name="title" value=""
                        placeholder="Search tour by keywords" autocomplete="off">
                    <div id="menu_search_autocomplete" class="autocomplete" data-mousedown="false"></div>
                </form>
            </div>
            {{#if username}}
            <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/profile" class="nav-link"><p>{{username}}</p> </a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Logout</a>
                    </li>
                </ul>
            {{else}}
            <div class="collapse navbar-collapse  d-flex justify-content-around" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/tripsHome" >Trips</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/journals" >Journals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-target="#fLogin" data-toggle="modal">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-target="#fsignUp" data-toggle="modal">Sign up</a>
                    </li>
                </ul>
            </div>
            {{/if}}

        </nav>