<section class="homePage">

    <div id="demo" class="carousel slide fixed-top " data-ride="carousel">

        

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-caption">
                    <h1>Hong Kong</h1><br>
                    <h6>Design Your Own Unique Experience</h6>

                </div>
                <img src="/carousel1.jpeg" alt="Iceland" width="100%" height="100%">
            </div>
            <div class="carousel-item">
                <div class="carousel-caption">
                    <h1>Hong Kong</h1><br>
                    <h6>Design Your Own Unique Experience</h6>

                </div>
                <img src="/carousel2.jpeg" alt="NewZealand" width="100%" height="100%">
            </div>
            <div class="carousel-item">
                <div class="carousel-caption">
                    <h1>Hong Kong</h1><br>
                    <h6>Design Your Own Unique Experience</h6>
                </div>
                <img src="/carousel3.jpeg" alt="Austria" width="100%" height="100%">
            </div>
        </div>
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    <div id="fLogin" class="modal fade in" style="display: none;">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Member Log In</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <form action="/login" method="post">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" name="email" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-block btn-lg" value="Log In">
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <a data-target="#fsignUp" data-toggle="modal">or Sign Up</a>
                </div>
            </div>
        </div>
    </div>
    <div id="fsignUp" class="modal fade" style="display: none;">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Member Registration</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <form action="/signup" method="post">
                        <div class="form-group">
                            <label>Email Address</label>
                            <input type="email" name="email" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" name="username" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" required="required">
                        </div>
                        <div class="form-group"><input type="submit" value="Sign up"
                                class="btn btn-primary btn-block btn-lg"></div>
                        <div class="clearfix"></div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>