
<section class="indiTrip">
    <div class="indiTripRows ">
        <div class="inditripCols col-4">
            <h1>(Trip Plan Name)</h1>
            <p> This Will Be the Trip Description
                <br>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta quae neque quia maxime quos
                delectus, eveniet asperiores in possimus nisi eius non. Illo quod enim hic fuga quas iure eius?</p>
            <a href="/journals" class="indiTripButton" type="button">Write About Your Trip</a>
        </div>


        <div class="inditripAttractions">
            
            
            <div class="indiTripCards">
                <h2>Attraction Name (Ding Ding)</h2>
                <p>Hong Kong Tramways witnessed the development of Hong Kong, and the tram remains an efficient and the most economical mode of public transport in Hong Kong</p>
                
            </div>
            
            <div class="indiTripCards">
                <h2>Attraction Name (Ding Ding)</h2>
                <p>Hong Kong Tramways witnessed the development of Hong Kong, and the tram remains an efficient and the most economical mode of public transport in Hong Kong</p>
                
            </div>
           
            <div class="indiTripCards">
                <h2>Attraction Name (Ding Ding)</h2>
                <p>Hong Kong Tramways witnessed the development of Hong Kong, and the tram remains an efficient and the most economical mode of public transport in Hong Kong</p>
                
            </div>
         
           
      
           
        </div>


</section>
