<!--Container for the whole page-->
<div class="container">




<!--Container for the top bar with profile name/picture/cover photo-->
<div class="profileTopBar">
<p>yoyoyoyo</p>
</div>


<!--Div for country of origin and join date-->
<div class="profileLeftBar">

</div>


<!--Container that displays the user's timeline, in reverse chronological order-->
<div class="timeline">
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
</div>






</div>