<!--Container for the whole page-->
<section class="profileContainer">


<!--Profile Card-->
<div class="profileCard">
    <div class="card p-3">
        <div class="d-flex align-items-center">
            <div class="image"> <img src="profilepic.jpg" class="rounded" width="155"> </div>
            <div class="ml-3 w-100">
                <h4 id="profileName" class="mb-0 mt-0">{{user}}</h4> <span>Hong Kong Traveler</span>
                <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                    <div class="d-flex flex-column"> Here is an overview of {{user}}'s posts</div>
                </div>
                <div class="button mt-2 d-flex flex-row align-items-center"> <button class="btn btn-sm btn-outline-primary w-100">Chat</button> </div>
            </div>
        </div>
    </div>
</div>


<!--Container that displays the user's timeline, in reverse chronological order-->
<div class="postContainer">
{{#each post}}
    <div class="col-md-12 justify-content-right post">
        <div class="media g-mb-30 media-comment">
            <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
              <div class="g-mb-15">
                <h5 class="userPost h5 g-color-gray-dark-v1 mb-0"></h5>
              </div>
        
              <p>{{this.content}}</p>

            <hr>

            <span class="g-color-gray-dark-v4 g-font-size-12">{{this.created_at}}</span>
            </div>
        </div>
{{/each}}
</div>

<script>
    
$(document).ready(function(e) {
    const user = req.params.id;
    
    let count = document.getElementByClassName("userPost").length;

    document.getElementByClassName("number1").innerHTML = count;

    console.log(count);

});

</script>


<!--Ending Div-->
</section>

