
    

<section class="tripsHome">




    <div class="tripHomeRow">
        <div class="tripHomeCol">
            <h1>Ready To Plan Your Trip?</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta quae neque quia maxime quos
                delectus, eveniet asperiores in possimus nisi eius non. Illo quod enim hic fuga quas iure eius?</p>
            <button class="tripButton" type="button">Create Trip</button>
        </div>
        <div class="tripHomeCol">
        {{#each content}}
            <div class="tripHomeCard card1">
                <h5> </h5>
                <p>{{description}}</p>
            </div>
            {{/each}}
            
    </div>



</section>

