


<section class="tripsHome">
    <div class="tripHomeRow ">
        <div class="tripHomeCol col-4">
            <h1>Ready To Plan Your Trip?</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta quae neque quia maxime quos
                delectus, eveniet asperiores in possimus nisi eius non. Illo quod enim hic fuga quas iure eius?</p>
            <a data-target="#aTrip" data-toggle="modal" class="tripButton" type="button">Create Trip</a>
        </div>


        <div class="tripplans">
            {{#each content}}
            <a href="tripsHome/attraction/{{this.id}}">
            <div class="tripHomeCard">
                <h2>{{name}}</h2>
                <p>{{description}}</p>
                <button class="removeTrip btn btn-outline-dark btn-sm"
                            data-id="{{this.id}}">Delete</button>
            </div>
            </a>
            {{/each}}

        </div>


</section>