<section class="tripsHome">




    <div class="tripHomeRow">
        <div class="tripHomeCol">
            <h1>Ready To Plan Your Trip?</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta quae neque quia maxime quos
                delectus, eveniet asperiores in possimus nisi eius non. Illo quod enim hic fuga quas iure eius?</p>
            <button class="tripButton" type="button">Create Trip</button>
        </div>
        <div class="tripHomeCol">
            <div class="tripHomeCard card1">
                <h5>hk</h5>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit tempore repudiandae, dicta labore,
                    maxime illo veniam soluta excepturi, inventore corporis enim quam asperiores beatae quas pariatur.
                    Dolor necessitatibus voluptatum quibusdam.</p>
                    
            </div>
            <div class="tripHomeCard card2">
                <h5>hkdream</h5>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit tempore repudiandae, dicta labore,
                    maxime illo veniam soluta excepturi, inventore corporis enim quam asperiores beatae quas pariatur.
                    Dolor necessitatibus voluptatum quibusdam.</p>

            </div>
            <div class="tripHomeCard card3">
                <h5>hkfun</h5>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit tempore repudiandae, dicta labore,
                    maxime illo veniam soluta excepturi, inventore corporis enim quam asperiores beatae quas pariatur.
                    Dolor necessitatibus voluptatum quibusdam.</p>

            </div>
            <div class="tripHomeCard card4">
                <h5>hkcool</h5>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit tempore repudiandae, dicta labore,
                    maxime illo veniam soluta excepturi, inventore corporis enim quam asperiores beatae quas pariatur.
                    Dolor necessitatibus voluptatum quibusdam.</p>

            </div>
            
            </div>
        </div>
    </div>



</section>