
/* #postJournals{
    text-align: center;
    font-size: 1rem;
}
#post::placeholder{
    font-size: 1rem;
}

#postButtons{

} */

#postButton{
    padding: 4px 6px;
    margin-left: 200px;
    
}
.journalCol{
    text-align: center;
}

.left {
    position: fixed;
    margin-top: 40px;
    z-index: 0;
}
@media screen and (max-width: 1180px) {
    .left {
        display: none;
}
}

.left-div {
    margin: 12px 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

#left-post-id{
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

#covid:hover {
    background-color: rgb(197, 197, 197);
    border-radius: 5px;
}

.left-img {
    width: 22px;
    height: 22px;
    border-radius: 100%;
}

#left-img{
    margin-left: 10px;
    font-size: 15px;
    margin-top: 2px;
}

.see-more {
    margin-left: 10px;
    background-color: rgb(189, 186, 186);
    width: 195px;
    height: 25px;
    padding-left: 50px;
    /* padding-top: 5px; */
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.see-more:hover {
    background-color: rgb(211, 211, 211);
    border-radius: 5px;
}



#main {
    margin: 60px 15px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    z-index: 1;
}

@media screen and (min-width: 1180px) {
    .main {
        max-width: 570px;
        margin: auto;
}
}

.article1 {
    background-color: white;
    margin-bottom: 20px;
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 15px;
    box-shadow: 0 1px 5px rgb(194, 193, 193);
}

.row2 {
    display: flex;
    margin-right: 5px;
}

#row2 {
    border-bottom: 1px solid rgb(231, 229, 229);
}

.input2 {
    border-radius: 20px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-top: 4px;
    border: 0px;
    background-color: rgb(231, 229, 229);
    width: 440px;
    height: 30px;
    cursor: pointer;
}

.up {
    display: flex;
    width: 460px;
}

.up1 {
    display: flex;
    margin-right: 15px;
    width: 100%;
    cursor: pointer;
}

#up {
    height: 15px;
    margin-right: 5px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  
  /***************
   * POST HEADER * 
   ***************/
  
  .post {
    background: var(--white);
    width: 100%;
    max-width: 50rem;
    padding-bottom: 5rem;
    border-radius: 1rem;
    box-shadow: 0 0.1rem 0.2rem var(--box-shadow);
  }
  
  .post__header {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 1.6rem 0 1.6rem;
  }
  
  /* Header left */
  .header__left {
    flex: 1;
  }
  
  .author__name:hover,
  .post__date:hover {
    text-decoration: underline;
  }
  
  .author__verified,
  .post__privacy,
  .options__icon {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    background-image: url(../images/icons-list-1.png);
    background-size: 7.1rem 43.2rem;
    background-repeat: no-repeat;
    background-position: -1.7rem -38.6rem;
  }
  
  .author__name {
    margin-right: 0.2rem;
  }
  
  .post__author-pic {
    float: left;
    width: 4rem;
    height: 4rem;
    margin-right: 0.8rem;
    border-radius: 50%;
    box-shadow: 0 0.1rem 0.2rem var(--box-shadow);
    transition: filter 0.2s ease;
  }
  
  .post__author-pic:hover {
    filter: brightness(0.95);
  }
  
  .post__author {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--black2);
  }
  
  .post__date {
    display: block;
    float: left;
    font-size: 1.3rem;
    color: var(--black1);
  }
  
  /* Dot between post author and post date */
  .post__date-privacy-separator {
    position: relative;
    bottom: 0.1rem;
  }
  
  .post__privacy {
    background-image: url(../images/icons-list-2.png);
    background-size: 2.6rem 89.4rem;
    background-position: 0 -78.2rem;
    opacity: 0.6;
  }
  
  /* Header right */
  .post__options {
    padding: 1rem;
    border-radius: 50%;
    line-height: 50%;
    transition: background-color 0.2s ease;
    cursor: pointer;
  }
  
  .post__options:hover {
    background: var(--hover-shadow);
  }
  
  .options__icon {
    height: 2rem;
    width: 2rem;
    position: relative;
    background-size: 7.4rem 43rem;
    background-position: -2.2rem -24rem;
    opacity: 0.6;
  }
  
  /****************
   * POST CONTENT * 
   ****************/
  
  .content__paragraph {
    font-size: 1.5rem;
    padding: 0.8rem 1.6rem 0.8rem 1.6rem;
  }
  
  .content__image {
    width: 100%;
    height: 33rem;
    object-fit: cover;
    display: block;
  }
  
  .content__image:hover {
    cursor: pointer;
  }
  
  