.tripsHome {
    width: 100% !important;
    height: 100vh !important;
    background-image: linear-gradient(
        rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./carousel2.jpeg);
    background-size: cover !important;
    background-attachment: fixed;
    background-position: center !important;
    padding-left: 8% !important;
    padding-right: 8% !important;
    box-sizing: border-box !important;
    top: 0;
    position: absolute;
    z-index: -999;
}

.tripHomeRow {
    display: flex;
    height: 88%;
    align-items: center;
}

.tripHomeCol{
    position: relative;
    top: 100px;
}

.tripHomeRow h1 {
    color: #fff;
    font-size: 70px;
}
.tripHomeRow p {
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    
}

.tripButton{
    width: 180px;
    color: #000;
    font-size: 16px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    text-align: center;
}

/* .tripHomeCard {
    width: 230px;
    height: 230px;
    background-color: #fff;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
} */
.tripHomeCard:hover{
    transform: translateY(-10px);
}

.tripHomeCard h2{ 
    color: black;
   
}   
.tripHomeCard p{ 
    color: black;
   
}   
.tripplanContainer{
    display: grid;
    grid-template-columns: repeat(2, 100px);
}
.tripplans{
    font-family: "Architects Daughter";
    font-size: 24px;
    box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
    border: none;
    width:275px;
    height:275px;
    padding: 40px 25px 25px 25px;
    background-color: #fff;
}

.tripHomeCardhead{
    display: flex;
    justify-content: space-between;
}