.tripsContainer {
    width: 100% !important;
    height: 100vh !important;
    background-image: linear-gradient(
        rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./carousel2.jpeg);
    background-position: center !important;
    background-size: cover !important;
    padding-left: 8% !important;
    padding-right: 8% !important;
    box-sizing: border-box !important;
}